@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Colors
$white: #f8f8f8;
$lightGray: #dedede;
$darkGray: #888888;
$red: #9e292e;
$darkRed: #891d22;
$blue: #011e5b;
$black: #2f2f2f;

body {
  font-family: "Nunito", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-weight: 700;
}

.btn-danger {
  background: $red;
  border-color: $darkRed;
}

.section__title {
  font-size: 24px;
  color: $black;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

@import "nav";

@import "hero";

@import "home";

@import "imovelBox";

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("./assets/footerbg.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
}

.footer__menu {
  font-weight: 700;
  li {
    transition: 0.2s;
  }
  li:hover {
    color: white;
    padding-left: 5px;
  }
}

.footer__social {
  span {
    border-top: 1px solid $white;
    padding-top: 15px;
  }
  svg {
    margin-right: 15px;
  }
}

.footer__contact {
  font-size: 14px;
}

.imovel {
  margin-top: 15px;
  margin-bottom: 30px;
  h1 {
    color: $blue;
    font-weight: 700;
    font-size: 28px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 30px;
    img {
      margin-right: 10px;
      margin-top: -8px;
    }
  }
  small {
    color: #888;
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
  }
}

.imovel__fotoDestaque {
  width: 100%;
  padding-bottom: 66.66%;
  overflow: hidden;
  position: relative;
  background: $white;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}
.imovel__slider {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
    opacity: 0;
    height: 0;
  }
}
.imovel__slider_slide {
  flex: 0 0 auto;
  width: 120px;
  height: 78px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  &:hover img {
    opacity: 1;
  }
  img {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 0.5;
    transition: 0.2s;
    pointer-events: none;
    &.active {
      opacity: 1;
    }
  }
}

.imovel__caracteristicas {
  svg {
    color: $red;
  }
}
.imovel__descricao_trigger {
  color: $red;
  font-weight: 700;
  cursor: pointer;
}
.imovel__descricao_container {
  height: 50px;
  overflow: hidden;
  p {
    margin-bottom: 5px;
  }
  &.open {
    height: auto;
  }
}

.imovel__infra {
  margin-bottom: 15px;
  ul {
    padding-left: 20px;
    list-style: none;
    margin-bottom: 0;
  }
  ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
}
.imovel__infra_item {
  display: inline-block;
  border: 1px solid $lightGray;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.imovel__contato {
  top: 30px;
  margin-bottom: 15px;
  background: $white;
  border: 1px solid $lightGray;
  border-radius: 5px;
  padding: 15px;
  h4 {
    font-weight: 700;
    font-size: 20px;
    color: $blue;
  }
  .form-control {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.recaptchaContainer {
  transform: scale(0.74);
  transform-origin: 0 0;
}
